body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.wrapper {
  text-align: center;
}

.controls,
.bar {
  height: 72px;
  /* background-color: rgb(114, 41, 209); */
  border: 2px solid black;
  margin-bottom: 2px;
}

.container-fluid {
  max-width: 1024px;
  width: 100%;
}

button {
  color: rgb(114, 41, 209);
  padding: 0 !important;
  width: 100%;
  border-right: 1px solid black;
}

.play-button,
.repeat-button,
.volume-buton,
.stop-button {
  padding: 0 !important;
}

.timer {
  padding: 0 !important;
  text-align: center;
}

.counter {
  padding: 0 !important;
  text-align: center;
}
input[type="range"] {
  -webkit-appearance: none;
  width: 90%;
  margin-top: 25px;
}
input[type="range"]:focus {
  outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 11.3px;
  cursor: pointer;
  box-shadow: 0.9px 0.9px 1.7px #002200, 0px 0px 0.9px #003c00;
  background: #3359f4;
  border-radius: 1px;
  border: 1.1px solid #18d501;
}
input[type="range"]::-webkit-slider-thumb {
  box-shadow: 2.6px 2.6px 3.7px #00aa00, 0px 0px 2.6px #00c300;
  border: 2.5px solid #83e584;
  height: 19px;
  width: 23px;
  border-radius: 12px;
  background: #439643;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -4.95px;
}
input[type="range"]:focus::-webkit-slider-runnable-track {
  background: #4b6df5;
}
input[type="range"]::-moz-range-track {
  width: 100%;
  height: 11.3px;
  cursor: pointer;
  box-shadow: 0.9px 0.9px 1.7px #002200, 0px 0px 0.9px #003c00;
  background: #3359f4;
  border-radius: 1px;
  border: 1.1px solid #18d501;
}
input[type="range"]::-moz-range-thumb {
  box-shadow: 2.6px 2.6px 3.7px #00aa00, 0px 0px 2.6px #00c300;
  border: 2.5px solid #83e584;
  height: 19px;
  width: 23px;
  border-radius: 12px;
  background: #439643;
  cursor: pointer;
}
input[type="range"]::-ms-track {
  width: 100%;
  height: 11.3px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type="range"]::-ms-fill-lower {
  background: #1b45f3;
  border: 1.1px solid #18d501;
  border-radius: 2px;
  box-shadow: 0.9px 0.9px 1.7px #002200, 0px 0px 0.9px #003c00;
}
input[type="range"]::-ms-fill-upper {
  background: #3359f4;
  border: 1.1px solid #18d501;
  border-radius: 2px;
  box-shadow: 0.9px 0.9px 1.7px #002200, 0px 0px 0.9px #003c00;
}
input[type="range"]::-ms-thumb {
  box-shadow: 2.6px 2.6px 3.7px #00aa00, 0px 0px 2.6px #00c300;
  border: 2.5px solid #83e584;
  height: 19px;
  width: 23px;
  border-radius: 12px;
  background: #439643;
  cursor: pointer;
  height: 11.3px;
}
input[type="range"]:focus::-ms-fill-lower {
  background: #3359f4;
}
input[type="range"]:focus::-ms-fill-upper {
  background: #4b6df5;
}
